:root {
    --theme-0: #D9D9D9;
    --theme-1: #202020;
    --theme-2: #a30000;
    --theme-3: #d46161;
}


body {
    color: var(--theme-0);
    background-color: var(--theme-0);
    height: 100vh;
    margin: 0;
    font-family: 'Inter';
}
.nav-container {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

.nav-container h1{
    display: flex;
    align-items: center;
    font-size: 3em;
    font-weight: 600;
    color: var(--theme-1);
    margin: 0 0 0 30px;
    background-color: var(--theme-0);
    border-radius: 10px;
    padding: 0 10px;
}

.nav-container button{
    background-color: var(--theme-0);
    justify-self: flex-end;
    cursor: pointer;
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
}

.nav-container button:hover{
    background-color: var(--theme-1);
    color: var(--theme-0);
}

.bold span{
    font-weight: 600;
}

#emergency-button{
    margin-right: 30px;
    background-color: var(--theme-2);
    color: var(--theme-1);
    color: var(--theme-0)
}

#emergency-button:hover{
    background-color: var(--theme-1);
    color: var(--theme-0);
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
}

#content input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

#content button{
    background-color: var(--theme-3);
    cursor: pointer;
    margin: 0 0 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 60px;
    height: 40px;
    color: var(--theme-0);
}

#content button:hover{
    background-color: var(--theme-1);
    color: var(--theme-0);
}

#search{
    display: inline-block;
}

#hospitals{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

#hospital-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
}

html, body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}
.hospital{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 20px 80px;
    width: 500px;
    height: fit-content;
    background-color: var(--theme-1);
    border-radius: 20px;
}

.hospital-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    width: 480px;
}

.hospital-time{
    display: flex;
    text-align: right;
    margin-left: 10px;
}

.hospital-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 0 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--theme-0);
}

.hospital-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 0 0 5px 20px;
    font-size: 16px;
    font-weight: 300;
    color: var(--theme-0);
    display: none;
}
.hospital-info p{
    margin-top: 0px;
    width: fit-content;
}

#drive {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 0 0;
    width: 450px;
}

#drive-time {
    display: flex;
    flex-direction: row;
}

#get-direction button{
    display: block;
    justify-self: right;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-3);
    cursor: pointer;
    margin: 0 0 0 0;
    padding: 0;
    font-size: 28px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    color: var(--theme-0);
}

#get-direction button:hover{
    background-color: var(--theme-2);
}