:root {
    --theme-0: #D9D9D9;
    --theme-1: #202020;
    --theme-2: #BD1E1E;
    --theme-3: #d46161;
}


body {
    color: var(--theme-0);
    background-color: var(--theme-0);
    height: 100vh;
    margin: 0;
    font-family: 'Inter';
}
#nav-container {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

#nav-container h1{
    display: flex;
    align-items: center;
    font-size: 3em;
    font-weight: 500;
    color: var(--theme-1);
    margin: 0 0 0 30px;
}

#nav-container button{
    background-color: var(--theme-0);
    justify-self: flex-end;
    cursor: pointer;
    margin: 0 30px 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;

}
html, body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}